@import './animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
    :first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        :focus {

        }
    }

    :last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.series-title {
    user-select: none;
    cursor: pointer;
}

.btn-icon {
    @apply w-8 h-8 btn-sm;
}

.alert-bottom {
    width: calc(100% - 20px);
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.color-green {
    color: oklch(var(--su));
}

.toast-leave {
    animation: toast-leave-animation 1s ease forwards;
}
